/* Mobile first design using @media query */
/* I want the calculator to take up 100% of the screen on mobile devices, and be roughly the same size on
screens up to 1200px, special size for extra large screens?*/
* {
  box-sizing: border-box;
  font-family: Roboto;
  font-weight: 700;
  font-size: 1.2rem;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
}

.container {
  display: flex;
  flex-flow: wrap;
  height: 100%;
  width: 100%;
}

h1, h3 {
  text-decoration: underline;
  text-align: center;
}

.containerScreen {
  display: flex;
  height: 10%;
  width: 100%;
  background: #a1dd9d;
  color: black;
}

.screen {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  width: 100%;
  height: 100%;
  Border: 2px solid #efefef;
  border-radius: 5px;
}

#screenSpan {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%; /*On Tiny screens I'm losing the screen as a result of not being set as a percentage.*/
  background-color: #efefef;
  padding-right: 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  width: 100%;
  background-color: #a1dd9d;
}

.clearContents {
  display: flex;
  width: 100%;
  height: 20%;
}

.containerNumbers {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  width: 100%;
}

.clear {
  width: 49%;
  background-color: #efefef;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button {
  height: 25%;
  width: 24%;
  background-color: #efefef;
  border-radius: 5px;
}

.button:hover, .clear:hover {
  background-color: #efefef;
  border-color: #a1dd9d;
  box-shadow: 2px 2px 2px #8c8e8b;
}

@media only screen and (max-width: 400px){
.message {
  display: none;
}

 .clear {
   width: 50%;
 }

 .button {
   width: 25%;
 }
}

@media only screen and (min-width: 401px) and (max-width: 720px){
  .container {
    margin: auto;
    width: 420px;
    height: 700px;
    border: 10px solid #a1dd9d;
    border-radius: 10px;
  }

  .message {
    display: none;
  }

  .clearLast {
    margin-left: 5px;
  }

  .button {
    width: 24%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }

}

@media only screen and (min-width: 721px) and (max-width: 900px){
  .container {
    margin: auto;
    width: 420px;
    height: 700px;
    border: 10px solid #a1dd9d;
    border-radius: 10px;
  }

  .message {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 25%;
  }

  .clearAll {
    margin-right: 5px;
  }

  .clearLast {
    margin-left: 5px;
  }

  .num, .equals, .decimal {
    margin-right: 5px;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1200px){
  .container {
    margin: auto;
    width: 420px;
    height: 700px;
    border: 10px solid #a1dd9d;
    border-radius: 10px;
  }

  .message {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 25%;
  }

  .clearAll {
    margin-right: 5px;
  }

  .clearLast {
    margin-left: 5px;
  }

  .num, .equals, .decimal {
    margin-right: 5px;
  }
}

@media only screen and (min-width: 1200px){
  .container {
    margin: auto;
    width: 420px;
    height: 700px;
    border: 10px solid #a1dd9d;
    border-radius: 10px;
  }

  .message {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 25%;
  }

  .clearAll {
    margin-right: 5px;
  }

  .clearLast {
    margin-left: 5px;
  }

  .num, .equals, .decimal {
    margin-right: 5px;
  }
}
