$font-stack: Roboto, sans-serif;
$primary-color: #a1dd9d;
$button-color: #efefef;
$font-color: black;
$box-shadow:2px 2px 2px #8c8e8b;
$display: flex;
$center: center;
$border-radius: 5px;
$full-screen: 100%;
$flex-flow: wrap;
$justify-content: flex-end;
$margin: 5px;
$margin-center: auto;
@mixin container(){
  margin: $margin-center;
  width: 420px;
  height: 700px;
  border: 10px solid $primary-color;
  border-radius: 10px;
}
@mixin message(){
  margin: 0 100px;
  display: $display;
  justify-content: $justify-content;
  height: $full-screen;
  width: 25%;
}
@mixin button(){
  width: 24%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

* {
  box-sizing: border-box;
  font-family: $font-stack;
  font-weight: 700;
  font-size: 1.2rem;
}

html, body {
  height: $full-screen;
  margin: 0;
}

body{
  display: $display;
}

h1, h3 {
  text-decoration: underline;
  text-align: $center;
}

.container {
  display: $display;
  flex-flow: $flex-flow;
  height: $full-screen;
  width: $full-screen;
}

.containerScreen {
  display: $display;
  height: 10%;
  width: $full-screen;
  background: $primary-color;
  color: $font-color;
}

.screen {
  display: $display;
  align-items: $center;
  justify-content: $justify-content;
  padding: 10px;
  width: $full-screen;
  height: $full-screen;
  border: 2px solid $button-color;
  border-radius: $border-radius;
}

#screenSpan {
  display: $display;
  justify-content: $justify-content;
  align-items: $center;
  width: $full-screen;
  height: $full-screen;
  background-color: $button-color;
  padding-right: $margin;
  border: 2px solid $font-color;
  border-radius: $border-radius;
}

.contentContainer {
  display: $display;
  flex-wrap: $flex-flow;
  height: 90%;
  width: $full-screen;
  background-color: $primary-color;
}

.clearContents {
  display: $display;
  width: $full-screen;
  height: 20%;
}

.containerNumbers {
  display: $display;
  flex-wrap: $flex-flow;
  height: 80%;
  width: $full-screen;
}

.clear {
  width: 49%;
  background-color: $button-color;
  border-radius: $border-radius;
  margin-top: $margin;
  margin-bottom: $margin;
}

.button {
  height: 25%;
  width: 24%;
  background-color: $button-color;
  border-radius: $border-radius;
}

.button:hover, .clear:hover {
  background-color: $primary-color;
  border-color: $primary-color;
  box-shadow: $box-shadow;
  color: #fff;
  transition: 0.5s;
  outline: none;
}

.button:focus {
  outline: none;
}

.finishedTask {
  text-decoration: line-through;
}

@media only screen and (max-width: 400px){
  .message {
    display: none;
  }

 .clear {
   width: 50%;
 }

 .button {
   width: 25%;
 }
}

@media only screen and (min-width: 401px) and (max-width: 720px){
  body {
    margin: $margin-center;
  }

  .container {
    @include container();
  }

  .message {
    display: none;
    margin-right: 50px;
  }

  .clearAll {
    margin-right: $margin;
  }

  .clearLast {
    margin-left: $margin;
  }

  .button {
    @include button();
  }
}

@media only screen and (min-width: 721px) and (max-width: 900px){
  body {
    margin: $margin-center;
  }

  .container {
    @include container();
  }

  .message {
    @include message();
    margin: 0 20px 0 0;
  }

  .clearAll {
    margin-right: $margin;
  }

  .clearLast {
    margin-left: $margin;
  }

  .button {
    @include button();
  }
}

@media only screen and (min-width: 901px) and (max-width: 1200px){
  .container {
    @include container();
  }

  .message {
    @include message();
  }

  .clearAll {
    margin-right: $margin;
  }

  .clearLast {
    margin-left: $margin;
  }

  .button {
    @include button();
  }
}

@media only screen and (min-width: 1201px){
  .container {
    @include container();
  }

  .message {
    @include message();
  }

  .clearAll {
    margin-right: $margin;
  }

  .clearLast {
    margin-left: $margin;
  }

  .button {
    @include button();
  }
}
