/* Mobile first design using @media query */
/* I want the calculator to take up 100% of the screen on mobile devices, and be roughly the same size on
screens up to 1200px, special size for extra large screens?*/
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
}

.container {
  height: 100%;
  width: 100%;
  background: #bad4ff;
  display: flex;
  flex-flow: wrap;
}

.containerScreen {
  height: 10%;
  width: 100%;
  background: #b0b4ba;
  display: flex;
}

.screen {
  display: flex;
  justify-content: flex-end;
  padding: 25px;
  width: 100%;
  Border: 2px solid black;
}

#screenSpan {
  border: 2px solid black;
  width: 100%;
  text-align: right;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  width: 100%;
}

.clearContents {
  display: flex;
  width: 100%;
  height: 20%;
}

.containerNumbers {
  display: flex;
  height: 80%;
  width: 100%;
  flex-wrap: wrap;
}

.clear {
  width: 50%;
}

.one {
  height: 25%;
  width: 25%;
}

@media only screen and (max-width: 400px){

}

@media only screen and (min-width: 401px) and (max-width: 720px){

}

@media only screen and (min-width: 721px) and (max-width: 900px){

}

@media only screen and (min-width: 901px) and (max-width: 1200px){

}

@media only screen and (min-width: 1200px){

}
